@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
html {
  font-family: var(--font-roboto-flex), sans-serif;
}

body {
  font-family: var(--font-roboto-flex), sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: rgb(30, 200, 117);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.category-card {
  background-color: #f5f8f6;
  border-radius: 12px;
  box-shadow:
    0 8px 24px 0 rgba(1, 194, 122, 0.1),
    0 0 0 3px #fff inset;
  overflow: hidden;
  padding: 16px;
  z-index: 1;
}
.service-card {
  background-color: #f5f8f6;
  border-radius: 12px;
  box-shadow:
    0 8px 24px 0 rgba(1, 194, 122, 0.1),
    0 0 0 3px #fff inset;
  overflow: hidden;
  padding: 16px;
  z-index: 1;
}
.service-card:hover {
  box-shadow:
    0 8px 24px 0 rgba(51, 194, 122, 0.1),
    0 0 0 1px rgb(51, 194, 122) inset;
  scale: 1.02;
  transition: 0.3s ease all;
}
.product-card {
  background-color: #f5f8f6;
  border-radius: 12px;
  box-shadow:
    0 8px 24px 0 rgba(1, 194, 122, 0.1),
    0 0 0 3px #fff inset;
  display: block;
  height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  z-index: 1;
}
.product-card:hover {
  box-shadow:
    0 8px 24px 0 rgba(51, 194, 122, 0.1),
    0 0 0 1px rgb(51, 194, 122) inset;
  scale: 1.02;
  transition: 0.3s ease all;
}
.card-content {
  color: #000;
  padding: 16px 8px;
  position: relative;
}
.card-content:before {
  background-color: #ededed;
  content: "";
  height: 1px;
  left: 24px;
  position: absolute;
  top: 0;
  width: calc(100% - 48px);
}
.swiper-button-prev,
.swiper-button-next {
  color: white !important;
  background-color: white;
  color: black !important;
  border-radius: 100% !important;
  width: 30px !important;
  height: 30px !important;
}
.swiper-button-next {
  right: 24px !important;
}
.swiper-button-prev {
  left: 24px !important;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

.swiper-navigation-icon {
  width: 10px !important;
  font-weight: bold;
}

.shadow-custom {
  box-shadow:
    0 12px 28px 0 rgba(0, 0, 0, 0.2),
    0 2px 4px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
